<a href="{% url "teacher_detail" teacher.id %}" class="teacher_display">
    <img src="{{ teacher.profile_picture.url }}" alt="profile picture">
    <div class="content">
        <h2>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h2>
        <ul class="interests">
            {% for interest in teacher.interests.all %}
                <li id="{{ interest|lower }}">{{ interest }}</li>
            {% endfor %}
        </ul>
        <ul class="grades">
            {% for grade in teacher.grades.all %}
                <li>{{ grade }}</li>
            {% endfor %}
        </ul>
        <p>{{ teacher.short_description }}</p>        
    </div>
</a>
