/* --- Variables globales --- */
:root {
    --main-font-color: black;
    --main-bg-color: aliceblue;
    --main-teacher-color: #34A853;
    --main-student-color: #4285F4;
}

/* --- Onglet --- */
#onglet {
    border: 3px solid var(--main-student-color);
    border-radius: 10px;
    margin: auto;
    width: 95%;
}

#onglet ul {
    width: 100%;
    display: flex;
}

#onglet ul li {
    width: 100%;
    justify-content: space-around;
}

#onglet ul li a {
    display: block;
    color: black;
    text-align: center;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
    background-color: var(--main-teacher-color);
    filter: grayscale(30%);
}

#onglet ul li a:hover {
    opacity: 0.9;
}

#onglet ul li:first-child a {
    margin-left: 0;
    background-color: var(--main-student-color);
}

#onglet ul .active {
    filter: grayscale(0%);
}

#onglet .content {
    clear: both;
    height: 200px;
    padding: 20px;
}