/* --- DEBUT Reset CSS --- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: var(--font-color)
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

/* --- FIN Reset CSS --- */

/* --- Variables globales --- */
:root {
    --main-font-color: black;
    --main-bg-color: aliceblue;
    --second-bg-color: rgb(82, 82, 177);
    --main-teacher-color: #34A853;
    --main-student-color: #4285F4;
}

/* --- Main style --- */
h1 {
    font-size: 2em;
    padding: 15px;
}

h2 {
    font-size: 1.75em;
    padding: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
}

/* --- Header --- */
header {
    position: relative;
    background-color: var(--second-bg-color);
    justify-content: space-around;
}

header h1 {
    width: auto;
    text-align: center;
    margin: auto;
}

#connection_button {
    position: absolute;
    right: 20px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#connection_button a {
    padding: 5px;
}

#connection_button a:hover {
    background-color: rgb(140, 140, 230) !important;
    transition: ease 0.3s;
}

#selection_signup {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#selection_signup.active {
    opacity: 1;
    height: auto;
}

#selection_signup a {
    border: 1px solid black;
    padding: 10px;
}

#selection_signup a:hover {
    background-color: silver;
    transition: ease 0.3s;
}