{% extends 'base.html' %}

{% block content %}

    <h1>Home</h1>

    <h2>Pourquoi choisir Prof Paurticulier ?</h2>

    <section id="onglet">
        <ul>
            <li>
                <a id="a1" href="#" class="active">Élèves</a>
            </li>
            <li>
                <a id="a2" href="#" class="">Professeurs</a>
            </li>
        </ul>

        <div class="content" id="student">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim velit rerum, quidem saepe perspiciatis voluptas pariatur adipisci ipsam aliquid provident veniam sint deleniti voluptatum voluptates culpa quod tempora dolorem quibusdam?
            Atque animi praesentium modi, quae quis sint blanditiis tempora aut, minima inventore temporibus. Asperiores expedita placeat ipsa eum quisquam, aperiam, deleniti, sequi atque eius ipsam hic! Perspiciatis unde architecto eligendi!
            Ullam commodi perspiciatis autem voluptates at minus, nulla repellendus id iste asperiores? Exercitationem est nam voluptatibus voluptas, sunt, provident odit eaque, cumque dolores illum officia error deleniti nemo facilis sequi!
        </div>

        <div class="content" id="teacher" style="display: none;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt deleniti est vel, animi rem quasi dolor veniam iste modi nulla dolores officiis, accusamus, impedit soluta aut. Quos iusto laborum nisi.
            Commodi nobis quis minus cupiditate maxime quaerat neque aut quam rerum? Quae accusamus magnam vel ipsum molestiae! Quasi beatae fugit saepe voluptas laudantium, temporibus quibusdam ex maiores, provident sapiente excepturi?
            Modi esse autem, voluptatem nisi fugit et fuga amet, nemo quod, doloremque voluptates nesciunt assumenda quo soluta! Laborum non porro sed magnam, repellat cupiditate natus ullam amet, odit, quo maiores!</p>
        </div>

    </section>

    <h2>Découvrer nos <a href="{% url "showcase" %}">profs particuliers</a></h2>

{% endblock content %}

